  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card card-link">
        <div class="card-body">
          <h2 class="card-title">Saved <i class="nc-icon nc-bookmark-2"></i></h2>
       <% if (user.topTwo.saved.length >= 2) {
            for (var i = 0; i < 2; i++) { %>
              <p class="card-text"><%= user.topTwo.saved[i] %></p>
         <% }
          } else if (user.topTwo.saved.length == 1) { %>
            <p class="card-text card-text-only"><%= user.topTwo.saved[0] %></p>
       <% } else { %>
            <p class="card-text card-text-only text-muted">No saved folders yet</p>
       <% } %>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> Updated Now
          </div>
        </div>
        <div class="card-redirect saved-link"></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card card-link">
        <div class="card-body">
          <h2 class="card-title">Notes <i class="nc-icon nc-single-copy-04"></i></h2>
       <% if (user.topTwo.notes.length >= 2) {
            for (var i = 0; i < 2; i++) { %>
              <p class="card-text"><%= user.topTwo.notes[i] %></p>
         <% }
          } else if (user.topTwo.notes.length == 1) { %>
            <p class="card-text card-text-only"><%= user.topTwo.notes[0] %></p>
       <% } else { %>
            <p class="card-text card-text-only text-muted">No notes yet</p>
       <% } %>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> Updated Now
          </div>
        </div>
        <div class="card-redirect notes-link"></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card card-link">
        <div class="card-body">
          <h2 class="card-title">Journal <i class="nc-icon nc-book-bookmark"></i></h2>
       <% if (user.topTwo.journal.length >= 2) {
            for (var i = 0; i < 2; i++) { %>
              <p class="card-text"><%= user.topTwo.journal[i] %></p>
         <% }
          } else if (user.topTwo.journal.length == 1) { %>
            <p class="card-text card-text-only"><%= user.topTwo.journal[0] %></p>
       <% } else { %>
            <p class="card-text card-text-only text-muted">No journal entries yet</p>
       <% } %>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> Updated Now
          </div>
        </div>
        <div class="card-redirect journal-link"></div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center justify-content-md-start">
    <div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-5">
      <a class="card card-plain card-verse-of-the-day">
        <div class="card-body">
          <h3 class="card-title"><i class="ti-shine"></i> Verse of the Day</h3>
          <p class="card-text">Saying, Where is he that is born King of the Jews? for we have seen his star in the east, and are come to worship him.</p>
          <label class="card-label">Matthew 2:2 <button class="bible-link card-lable-link" verse="matthew2:2"><i class="ti-book"></i></button></label>
        </div>
      </a>
    </div>
    <div class="col-10 col-sm-4 col-md-4 col-lg-4 col-xl-3">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-4 col-sm-3 col-md-3">
              <div class="icon-big text-center icon-danger">
                <i class="ti-bolt text-danger"></i>
              </div>
            </div>
            <div class="col-8 col-sm-9 col-md-8">
              <div class="numbers">
                <p class="card-category">Streak</p>
                <p class="card-title"><%= user.streak.days %> <% if (user.streak.days === 1) { %>day<% } else { %>days<% } %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> Updated today
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header ">
          <h5 class="card-title">Users Behavior</h5>
          <p class="card-category">24 Hours performance</p>
        </div>
        <div class="card-body ">
          <canvas id=chartHours width="400" height="100"></canvas>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> Updated 3 minutes ago
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Email Statistics</h5>
          <p class="card-category">Last Campaign Performance</p>
        </div>
        <div class="card-body ">
          <canvas id="chartEmail"></canvas>
        </div>
        <div class="card-footer ">
          <div class="legend">
            <i class="fa fa-circle text-primary"></i> Opened
            <i class="fa fa-circle text-warning"></i> Read
            <i class="fa fa-circle text-danger"></i> Deleted
            <i class="fa fa-circle text-gray"></i> Unopened
          </div>
          <hr>
          <div class="stats">
            <i class="fa fa-calendar"></i> Number of emails sent
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-title">NASDAQ: AAPL</h5>
          <p class="card-category">Line Chart with Points</p>
        </div>
        <div class="card-body">
          <canvas id="speedChart" width="400" height="100"></canvas>
        </div>
        <div class="card-footer">
          <div class="chart-legend">
            <i class="fa fa-circle text-info"></i> Tesla Model S
            <i class="fa fa-circle text-warning"></i> BMW 5 Series
          </div>
          <hr/>
          <div class="card-stats">
            <i class="fa fa-check"></i> Data information certified
          </div>
        </div>
      </div>
    </div>-->
  </div>
